<a href="https://colab.research.google.com/github/ilansarbac95/DI158/blob/main/Data_Analytics_Bootcamp_Part_Time_2025_Databases_Introduction_to_Databases_Daily_challenge_Actors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# ===============================
# Daily Challenge : Actors (SQLite)
# ===============================

# 1️⃣ Importer sqlite3
import sqlite3

# 2️⃣ Créer une base de données en mémoire (ou fichier 'actors.db')
conn = sqlite3.connect(':memory:')  # utiliser ':memory:' pour tester sans fichier
cur = conn.cursor()

# 3️⃣ Créer la table actors
cur.execute('''
CREATE TABLE actors (
    actor_id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT,
    last_name TEXT,
    birth_date DATE
)
''')

# 4️⃣ Insérer des données exemples
actors_data = [
    ('Robert', 'Downey', '1965-04-04'),
    ('Chris', 'Evans', '1981-06-13'),
    ('Scarlett', 'Johansson', '1984-11-22'),
    ('Chris', 'Hemsworth', '1983-08-11'),
    ('Mark', 'Ruffalo', '1967-11-22')
]

cur.executemany('''
INSERT INTO actors (first_name, last_name, birth_date)
VALUES (?, ?, ?)
''', actors_data)

# 5️⃣ Exercice : Compter le nombre d'acteurs dans la table
cur.execute('SELECT COUNT(*) FROM actors')
count = cur.fetchone()[0]
print(f"Nombre d'acteurs : {count}")

# 6️⃣ Exercice : Sélectionner tous les acteurs
cur.execute('SELECT * FROM actors')
all_actors = cur.fetchall()
print("\nTous les acteurs :")
for actor in all_actors:
    print(actor)

# 7️⃣ Exercice : Ajouter un nouvel acteur avec tous les champs remplis
cur.execute('''
INSERT INTO actors (first_name, last_name, birth_date)
VALUES ('Tom', 'Holland', '1996-06-01')
''')
conn.commit()

# Vérification : tous les acteurs après ajout
cur.execute('SELECT * FROM actors')
all_actors = cur.fetchall()
print("\nAprès ajout d'un acteur :")
for actor in all_actors:
    print(actor)

# 8️⃣ Exercice : Filtrer les acteurs nés après 1980
cur.execute('SELECT * FROM actors WHERE birth_date > "1980-01-01"')
young_actors = cur.fetchall()
print("\nActeurs nés après 1980 :")
for actor in young_actors:
    print(actor)

# 9️⃣ Fermer la connexion
conn.close()

Nombre d'acteurs : 5

Tous les acteurs :
(1, 'Robert', 'Downey', '1965-04-04')
(2, 'Chris', 'Evans', '1981-06-13')
(3, 'Scarlett', 'Johansson', '1984-11-22')
(4, 'Chris', 'Hemsworth', '1983-08-11')
(5, 'Mark', 'Ruffalo', '1967-11-22')

Après ajout d'un acteur :
(1, 'Robert', 'Downey', '1965-04-04')
(2, 'Chris', 'Evans', '1981-06-13')
(3, 'Scarlett', 'Johansson', '1984-11-22')
(4, 'Chris', 'Hemsworth', '1983-08-11')
(5, 'Mark', 'Ruffalo', '1967-11-22')
(6, 'Tom', 'Holland', '1996-06-01')

Acteurs nés après 1980 :
(2, 'Chris', 'Evans', '1981-06-13')
(3, 'Scarlett', 'Johansson', '1984-11-22')
(4, 'Chris', 'Hemsworth', '1983-08-11')
(6, 'Tom', 'Holland', '1996-06-01')