<a href="https://colab.research.google.com/github/ilansarbac95/DI158/blob/main/Data_Analytics_Bootcamp_Part_Time_2025_Databases_Database_Concepts_1_Daily_challenge_SQL_Puzzle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# ===============================
# Daily Challenge: SQL Puzzle
# ===============================

import sqlite3

# 1Ô∏è‚É£ Connexion √† une base en m√©moire
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

# 2Ô∏è‚É£ Cr√©ation des tables
cur.execute('''
CREATE TABLE FirstTab (
    id INTEGER,
    name VARCHAR(10)
)
''')

cur.execute('''
CREATE TABLE SecondTab (
    id INTEGER
)
''')

# 3Ô∏è‚É£ Insertion des donn√©es
cur.executemany('INSERT INTO FirstTab (id, name) VALUES (?, ?)', [
    (5, 'Pawan'),
    (6, 'Sharlee'),
    (7, 'Krish'),
    (None, 'Avtaar')
])

cur.executemany('INSERT INTO SecondTab (id) VALUES (?)', [
    (5,),
    (None,)
])

conn.commit()

# 4Ô∏è‚É£ V√©rification du contenu des tables
print("FirstTab:")
cur.execute('SELECT * FROM FirstTab')
for row in cur.fetchall():
    print(row)

print("\nSecondTab:")
cur.execute('SELECT * FROM SecondTab')
for row in cur.fetchall():
    print(row)

# 5Ô∏è‚É£ Q1
cur.execute('''
SELECT COUNT(*)
FROM FirstTab AS ft
WHERE ft.id NOT IN (SELECT id FROM SecondTab WHERE id IS NULL)
''')
print("\nQ1:", cur.fetchone()[0])

# 6Ô∏è‚É£ Q2
cur.execute('''
SELECT COUNT(*)
FROM FirstTab AS ft
WHERE ft.id NOT IN (SELECT id FROM SecondTab WHERE id = 5)
''')
print("Q2:", cur.fetchone()[0])

# 7Ô∏è‚É£ Q3
cur.execute('''
SELECT COUNT(*)
FROM FirstTab AS ft
WHERE ft.id NOT IN (SELECT id FROM SecondTab)
''')
print("Q3:", cur.fetchone()[0])

# 8Ô∏è‚É£ Q4
cur.execute('''
SELECT COUNT(*)
FROM FirstTab AS ft
WHERE ft.id NOT IN (SELECT id FROM SecondTab WHERE id IS NOT NULL)
''')
print("Q4:", cur.fetchone()[0])

# üîπ Fermer la connexion √† la fin
conn.close()

FirstTab:
(5, 'Pawan')
(6, 'Sharlee')
(7, 'Krish')
(None, 'Avtaar')

SecondTab:
(5,)
(None,)

Q1: 0
Q2: 2
Q3: 0
Q4: 2