<a href="https://colab.research.google.com/github/ilansarbac95/DI158/blob/main/Data_Analytics_Bootcamp_Part_Time_2025_Databases_Introduction_to_Databases_Exercise_XP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3

# Créer une base de données en mémoire
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

# Créer les tables
cur.execute("""
CREATE TABLE items (
    item_id INTEGER PRIMARY KEY AUTOINCREMENT,
    item_name TEXT,
    price REAL
)
""")

cur.execute("""
CREATE TABLE customers (
    customer_id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT,
    last_name TEXT
)
""")

# Insérer les données
items_data = [
    ('Small Desk', 100),
    ('Large Desk', 300),
    ('Fan', 80)
]

customers_data = [
    ('Greg', 'Jones'),
    ('Sandra', 'Jones'),
    ('Scott', 'Scott'),
    ('Trevor', 'Green'),
    ('Melanie', 'Johnson')
]

cur.executemany("INSERT INTO items (item_name, price) VALUES (?, ?)", items_data)
cur.executemany("INSERT INTO customers (first_name, last_name) VALUES (?, ?)", customers_data)

conn.commit()

# Exemple de requêtes
# 1. Tous les items
cur.execute("SELECT * FROM items")
print("All items:", cur.fetchall())

# 2. Items avec prix > 80
cur.execute("SELECT * FROM items WHERE price > 80")
print("Items with price > 80:", cur.fetchall())

# 3. Customers whose first_name is NOT 'Scott'
cur.execute("SELECT * FROM customers WHERE first_name != 'Scott'")
print("Customers not named Scott:", cur.fetchall())

# Fermer la connexion
conn.close()

All items: [(1, 'Small Desk', 100.0), (2, 'Large Desk', 300.0), (3, 'Fan', 80.0)]
Items with price > 80: [(1, 'Small Desk', 100.0), (2, 'Large Desk', 300.0)]
Customers not named Scott: [(1, 'Greg', 'Jones'), (2, 'Sandra', 'Jones'), (4, 'Trevor', 'Green'), (5, 'Melanie', 'Johnson')]