<a href="https://colab.research.google.com/github/ilansarbac95/DI158/blob/main/Data_Analytics_Bootcamp_Part_Time_2025_Data_Understanding_and_Pre_processing_Intro_Importing_Data%2C_Exporting_Data_and_Types_of_Data_Exercises_XP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Modules pour SQL, données et API
!pip install pandas numpy matplotlib seaborn scipy sqlite3 requests openpyxl

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import requests
import json
import zipfile
import os

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (3.10.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.12/dist-packages (0.13.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.12/dist-packages (1.16.3)
ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [3]:
!pip install pandas numpy matplotlib seaborn scipy requests openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (3.10.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.12/dist-packages (0.13.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.12/dist-packages (1.16.3)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (3.2.5)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2025.10.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
import sqlite3

In [5]:
# Modules pour SQL, données et API
!pip install pandas numpy matplotlib seaborn scipy requests openpyxl

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3  # pas besoin d'installer via pip
import requests
import json
import zipfile
import os

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (3.10.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.12/dist-packages (0.13.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.12/dist-packages (1.16.3)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (3.2.5)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2025.10.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [6]:
# Création de la base de données SQLite en mémoire
conn = sqlite3.connect(':memory:')
c = conn.cursor()

# Exemple : création des tables FirstTab et SecondTab
c.execute('''
CREATE TABLE FirstTab (
    id INTEGER,
    name TEXT
)
''')

c.execute('''
CREATE TABLE SecondTab (
    id INTEGER
)
''')

# Insertion des données
c.executemany('INSERT INTO FirstTab VALUES (?,?)', [
    (5, 'Pawan'), (6, 'Sharlee'), (7, 'Krish'), (None, 'Avtaar')
])
c.executemany('INSERT INTO SecondTab VALUES (?)', [
    (5,), (None,)
])

# Exemple de SELECT
df_first = pd.read_sql_query('SELECT * FROM FirstTab', conn)
df_second = pd.read_sql_query('SELECT * FROM SecondTab', conn)

df_first, df_second

(    id     name
 0  5.0    Pawan
 1  6.0  Sharlee
 2  7.0    Krish
 3  NaN   Avtaar,
     id
 0  5.0
 1  NaN)

In [7]:
# Extraction et lecture des fichiers zip si nécessaires
with zipfile.ZipFile('/content/train.zip', 'r') as zip_ref:
    zip_ref.extractall('/content/train_data')

# Exemple lecture CSV
train_df = pd.read_csv('/content/train_data/train.csv')
train_df.head()

# Iris Dataset
with zipfile.ZipFile('/content/Iris_dataset.zip', 'r') as zip_ref:
    zip_ref.extractall('/content/iris_data')

iris_df = pd.read_csv('/content/iris_data/Iris.csv')
iris_df.head()

FileNotFoundError: [Errno 2] No such file or directory: '/content/train.zip'

In [7]:
import numpy as np
from scipy import stats

# Exemple NumPy
arr = np.array([[1,2],[3,4],[5,6]])
print("Cumulative sum axis 0:", arr.cumsum(axis=0))
print("Cumulative sum axis 1:", arr.cumsum(axis=1))

# SciPy exemple: test t
t_stat, p_val = stats.ttest_1samp([1,2,3,4,5], 3)
print("T-test p-value:", p_val)

Cumulative sum axis 0: [[ 1  2]
 [ 4  6]
 [ 9 12]]
Cumulative sum axis 1: [[ 1  3]
 [ 3  7]
 [ 5 11]]
T-test p-value: 1.0

In [8]:
# Exemple JSON URL
url = "https://restcountries.com/v3.1/all"
response = requests.get(url)
countries = response.json()

# Transformation en DataFrame
countries_df = pd.json_normalize(countries)
countries_df[['name.common','capital','region','subregion','population']].head(10)

KeyError: "None of [Index(['name.common', 'capital', 'region', 'subregion', 'population'], dtype='object')] are in the [columns]"

In [9]:
# Export Excel / JSON
train_df.to_excel('/content/train.xlsx', index=False)
train_df.to_json('/content/train.json', orient='records')

# Exemple visualisation
sns.histplot(iris_df['sepal_length'])
plt.show()

NameError: name 'train_df' is not defined

In [10]:
import pandas as pd
import os

# Liste tous les fichiers CSV dans le dossier /content
csv_files = [f for f in os.listdir('/content') if f.endswith('.csv')]

# Lire tous les CSV dans un dictionnaire de DataFrames
dataframes = {f: pd.read_csv(f'/content/{f}') for f in csv_files}

# Exemple : accéder au CSV 'train.csv'
dataframes['train.csv'].head()

KeyError: 'train.csv'

Please provide the names of the three CSV files you want to integrate.

In [8]:
!ls /content

Iris_dataset.csv  posts.json  sample_data  train.csv

In [9]:
import pandas as pd
import json

# Lecture des CSV
train_df = pd.read_csv('/content/train.csv')
iris_df = pd.read_csv('/content/Iris_dataset.csv')

# Lecture du JSON
with open('/content/posts.json', 'r') as f:
    posts = json.load(f)

# Vérifier que ça fonctionne
print(train_df.head())
print(iris_df.head())
print(posts[:3])  # Affiche les 3 premiers posts

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
[{'userId': 1, 'id': 1, 'title': 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit', 'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'}, {'userId': 1, 'id': 2, 'title': 'qui est esse', 'body': 'est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla'}, {'userId': 1, 'id': 3, 'title': 'ea molestias quasi exercitationem repellat qui ipsa sit aut', 'body': 'et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut'}]

In [10]:
# ----------------------------------------
# Modules nécessaires
# ----------------------------------------
!pip install pandas openpyxl

import pandas as pd
import json

# ----------------------------------------
# Exercice 3 & 4 : Import des CSV
# ----------------------------------------

# Lecture des fichiers CSV
train_df = pd.read_csv('/content/train.csv')
iris_df = pd.read_csv('/content/Iris_dataset.csv')

# Afficher les premières lignes pour vérifier
print("Train CSV:")
display(train_df.head())

print("Iris CSV:")
display(iris_df.head())

# ----------------------------------------
# Exercice 6 : Lecture JSON
# ----------------------------------------
with open('/content/posts.json', 'r') as f:
    posts = json.load(f)

print("JSON posts:")
display(posts[:5])  # Afficher les 5 premiers posts

# ----------------------------------------
# Exercice 5 : Export vers Excel et JSON
# ----------------------------------------

# Export CSV -> Excel
train_df.to_excel('/content/train.xlsx', index=False)
print("train.xlsx créé !")

# Export CSV -> JSON
train_df.to_json('/content/train_export.json', orient='records')
print("train_export.json créé !")

# ----------------------------------------
# Exercices supplémentaires : identification des types
# ----------------------------------------

# Exercice 1 : Identifier types de données
data_sources = {
    'Excel financial report': 'structured',
    'Photos réseaux sociaux': 'unstructured',
    'Articles en ligne': 'unstructured',
    'Inventory database': 'structured',
    'Interviews audio/texte': 'unstructured'
}

for source, dtype in data_sources.items():
    print(f"{source}: {dtype}")

# Exercice 2 : Transformation (méthodes)
transformation_exercises = {
    'Blog posts': 'Parser et extraire le texte -> DataFrame',
    'Audio calls': 'Transcription puis DataFrame',
    'Handwritten notes': 'OCR puis DataFrame',
    'Video tutorial': 'Extraire métadonnées puis DataFrame'
}

for source, method in transformation_exercises.items():
    print(f"{source}: {method}")

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Train CSV:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Iris CSV:

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

JSON posts:

[{'userId': 1,
  'id': 1,
  'title': 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit',
  'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'},
 {'userId': 1,
  'id': 2,
  'title': 'qui est esse',
  'body': 'est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla'},
 {'userId': 1,
  'id': 3,
  'title': 'ea molestias quasi exercitationem repellat qui ipsa sit aut',
  'body': 'et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut'},
 {'userId': 1,
  'id': 4,
  'title': 'eum et est occaecati',
  'body': 'ullam et saepe reiciendis voluptatem adipisci\nsit amet autem assumenda provident rerum culpa\nquis hic commodi nesciunt rem tenetur doloremque ipsam iure\nquis sunt voluptatem rerum illo velit'},
 {'userId': 1,
  'id': 5,
  'title': 'nesciunt quas odio',
  'body': 'repudiandae veniam quaerat sunt sed\nalias aut fugiat sit autem sed est\nvoluptatem omnis possimus esse voluptatibus quis\nest aut tenetur dolor neque'}]

train.xlsx créé !
train_export.json créé !
Excel financial report: structured
Photos réseaux sociaux: unstructured
Articles en ligne: unstructured
Inventory database: structured
Interviews audio/texte: unstructured
Blog posts: Parser et extraire le texte -> DataFrame
Audio calls: Transcription puis DataFrame
Handwritten notes: OCR puis DataFrame
Video tutorial: Extraire métadonnées puis DataFrame